<style>
    * {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0;
        margin: 0;
      }
    h1 {
        color: #ff0000;
        font-size: 28px;
        text-align: center;
        font-weight: 800;
    }
    .cont {
        width: 100%;
    }
    .col {
        background-color: aquamarine;
        margin: 5px;
        padding: 27px 5px 5px 5px;
        border: black solid 1px;
        position: relative;
    }
    .row {
        background-color: royalblue;
        font-size: 20px;
        text-align: center;
        border: black solid 1px;
        width: 25%;
        font-weight: 600;
        position: absolute;
        top: -1px;
        right: -1px;
    }
    #beef {
        background-color: rgb(112, 153, 72);
    }
    #Chicken {
        background-color: blue;
    }
    #Sushi {
        background-color: orange;
    }
    @media (min-width: 992px) {
        .col-lg-4{
            float: left;
            border: 1px solid black;
            width: 31%;
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .col-md-6, .col-md-12{
            float: left;
            border: black solid 1px;
        }
        .col-md-6{
            width: 47%;
        }
        .col-md-12{
            width: 97%;
        }
    }
</style>